<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      Rateador
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card>

      <ion-card-header>
        Card Header
      </ion-card-header>

      <ion-card-content>
        <ion-grid>
          <form [formGroup]="myForm" (ngSubmit)="saveData()">
          <ion-row>
            <ion-col col-8>
              <ion-item>
                <ion-label floating>Username</ion-label>
                <ion-input formControlName="name" type="text"></ion-input>
              </ion-item>

            </ion-col>

            <ion-col col-4>
              <ion-item>
                <ion-label floating>Price</ion-label>
                <ion-input formControlName="price" type="number"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row justify-content-center>
            <ion-col col-12>
              <button ion-button outline full block type="submit">AGREGAR</button>
            </ion-col>
          </ion-row>
        </form>
        </ion-grid>
      </ion-card-content>

    </ion-card>

  <ion-card>
    <ion-card-header>Listado</ion-card-header>
    <ion-list *ngFor="let info of arrayTodos">
      <ion-item>
        <h2>
          {{ info.name }}
        </h2>
        <p item-right>
          {{ info.price }}
        </p>
      </ion-item>
    </ion-list>
    <!-- <ion-list>
        <ion-item-sliding *ngFor="let t of todos">
            <ion-item>
                {{t}}
                <p item-right>$40</p>
            </ion-item>

            <ion-item-options side="right">
                <button ion-button color="danger" (click)="delete(t)">
                    <ion-icon name="trash"></ion-icon> Borrar
                </button>
            </ion-item-options>
        </ion-item-sliding>
      </ion-list> -->
  </ion-card>

  <ion-fab center bottom>
    <button ion-fab color="dark" (click)="openModal()"><ion-icon name="calculator"></ion-icon></button>
  </ion-fab>

</ion-content>
